html {
    background-color: #d5d5d5;
}

.titulo {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parrafo {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
